* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  scroll-behavior: smooth;
}
.header {
  background-image: url(./img/filiberto-santillan-qp51FQhBnS0-unsplash.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
.nav_container {
  width: 30px;
  height: 30px;
  position: relative;
  left: 90%;
  top: 3px;
  z-index: 4;
}
.main_container {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container h1 {
  font-size: 7rem;
  color: chartreuse;
  margin-top: 5%;
}
.main_container h2 {
  margin-bottom: 10%;
  font-size: 4rem;
  color: chartreuse;
}
.card_container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 12%;
}
.card_container i {
  font-size: 90px;
}

.card {
  background: #fff;
  border: 4px solid #000;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 233px;
}
.card button {
  border: none;
  background: transparent;
  font-size: 50px;
  text-decoration: none;
  padding-top: 30px;
  color: #000;
}

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: #000;
  margin: auto;
  border: 1px solid #6adc94;
  border-top: 10px solid #6adc94;
  width: 80%;
}
.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.card a {
  font-size: 50px;
  text-decoration: none;
  padding-top: 30px;
  color: #000;
}
.proyect_container {
  widows: 100%;
  height: auto;
  background-color: rgb(145, 227, 162);
}
.proyect_container :nth-child(2) {
  flex-direction: row-reverse;
}
.proyect_card {
  display: flex;
  align-items: center;
}
.proyect_card img {
  width: 400px;
  height: 400px;
  padding: 10px 15px;
}
.proyect_card p {
  font-size: 1.8rem;
}
.modal-content a {
  display: none;
}
.modal-content img {
  display: none;
}
.proyect_container :nth-child(2) p {
  padding: 15px;
}
.proyect_container a{
  text-decoration: none;
}
.proyect_container a:hover{
  color: red;
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: solid 4px #000;
}
.footer_content {
  font-size: 35px;
  display: flex;
}
.footer_content i {
  padding-right: 10px;
}
.footer_content a{
  color: #000;
  text-decoration: none;
}
.footer_content a:hover{
    color: red;
}
@media screen and (max-width: 640px) {
  .nav_container {
    display: flex;
  }
  .navbar_toggle span {
    width: 25px;
    height: 6px;
    background: white;
    display: block;
    margin: 2px;
    transition: all 0.3s ease;
  }
  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile_menu.is-active .bar:first-child {
    transform: translateY(9px) rotate(45deg);
  }
  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .main_container h1 {
    font-size: 70px;
    text-align: center;
  }
  .main_container h2 {
    font-size: 40px;
    text-align: center;
  }
  .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 1000px;
    background: black;
    height: 70%;
  }
  .card_container.active {
    transition: all 0.6s ease;
    /* top: 0; */
    background: black;
    bottom: 430px;
  }
  .card_container i {
    font-size: 50px;
  }
  .card_container a {
    font-size: 30px;
    padding-top: 0;
  }
  .card_container button {
    font-size: 30px;
    padding-top: 0;
  }
  .proyect_card {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
  }
  .card {
    width: 130px;
    height: 100px;
  }
  .proyect_card p {
    font-size: 1rem;
    display: flex;
  }
  .modal-content embed {
    display: none;
  }
  .modal-content img {
    display: block;
    width: 100%;
  }
  .modal-content a {
    display: block;
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
  }
  .modalContainer .modal-content {
    border-top: 5px solid #6adc94;
  }
  .proyect_container :nth-child(2) {
    flex-direction: column;
  }

  .proyect_container p {
    padding: 15px;
  }
  .footer_content h4 {
    display: flex;
    font-size: 20px;
  }
  .footer_content i {
    font-size: 18px;
  }
}

@media screen and (min-width: 641px){
  
  .main_container h1 {
    font-size: 7rem;
    color: chartreuse;
    margin-top: 0;
  }
  
  .card_container {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 19%;
  }
} 
